#AppTitle {
    padding-bottom: 50px;
}

#FromResults {
    padding-top: 50px;
    padding-bottom: 50px;
}

#ToResults {
    padding-top: 50px;
    padding-bottom: 50px;
}

.custom_table {
    background-color: white;
    color: #20509e;
}

